.input-prepend.project_clone_holder
  %button{class: "btn active", :"data-clone" => @project.ssh_url_to_repo.gsub(Regexp.new("#{Gitlab.config.gitlab_shell.ssh_user}@"), "#{current_user.username}@")} SSH
  %button{class: "btn", :"data-clone" => @project.http_url_to_repo}= Gitlab.config.gitlab.protocol.upcase

  = text_field_tag :project_clone, @project.url_to_repo.gsub(Regexp.new("#{Gitlab.config.gitlab_shell.ssh_user}@"), "#{current_user.username}@"), class: "one_click_select input-xxlarge"
